TableView:focused,
TableView {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-border-color: greysquash;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-padding: 0;
}
TableView .column-header {
    -fx-padding: 10px;
}
TableView .column-header, .column-header .label {
    -fx-alignment: center-left;
    -fx-font-size: 1em;
    -fx-padding: 4px;
}

TableView .table-cell {
    -fx-alignment: center-left;
    -fx-padding: 4px;
}

TableView .action-column,
TableView .column-header.action-column > .label {
    -fx-alignment: center;
    -fx-max-width: Infinity;
}

TableView .table-row-cell:selected, .table-row-cell:hover {
    -fx-background-color: gray-light;
    -fx-table-cell-border-color: transparent;
}

TableView .table-row-cell:empty {
    -fx-background-color: white;
    -fx-border-width: 0px;
    -fx-cursor: default;
}

TableView .table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
    -fx-cursor: default;
}

TableView *.increment-button,
TableView *.decrement-button,
TableView *.increment-arrow,
TableView *.decrement-arrow {
    -fx-padding: 0;
    -fx-shape: "";
    -fx-alignment: right;
}

HBox .combo-box {
    -fx-border-radius: 4px;
    -fx-border-color: greysquash;
    -fx-background-color: transparent;
    -fx-alignment: center;
}

HBox .combo-box > .list-cell {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

HBox .combo-box .cell:selected,
HBox .combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: white;
    -fx-background-color: blueberries;
}

HBox .combo-box-popup .list-view {
    -fx-border-color: greysquash;
    -fx-border-radius: 4px;
}

HBox .combo-box > .input-line {
    -fx-background-color: -jfx-unfocus-color;
    -fx-pref-height: 0px;
    -fx-translate-y: 0px;
}

HBox .combo-box > .input-focused-line {
    -fx-background-color: blueberries;
    -fx-pref-height: 0px;
}

.content-container {
    -fx-background-color: gray-light;
    -fx-padding: 15px;
}

TableView .column-header.quantity-column > .label {
    -fx-alignment: center;
    -fx-max-width: Infinity;
    -fx-cursor: default;
}

TableView .quantity-column {
    -fx-text-fill: blueberries;
    -fx-alignment: center;
    -fx-cursor: hand;
    -fx-underline: true;
}

