TableView:focused,
TableView {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-border-color: greysquash;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-padding: 0;
}

TableView .column-header, .column-header .label {
    -fx-background-color: white;
    -fx-alignment: center-left;
    -fx-border-width: 0 0 1.5 0;
    -fx-border-color: greysquash;
    -fx-padding: 4px;
}

TableView .table-cell {
    -fx-alignment: center-left;
    -fx-padding: 3px 10px 3px 10px;
}

TableView .id-column,
TableView .action-column,
TableView .column-header.id-column > .label,
TableView .column-header.action-column > .label {
    -fx-alignment: center;
}

TableView .table-row-cell:selected, .table-row-cell:hover {
    -fx-background-color: #EFEFEF;
    -fx-table-cell-border-color: transparent;
}

TableView .table-row-cell:empty {
    -fx-background-color: white;
    -fx-border-width: 0px;
}

TableView .table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

TableView *.increment-button,
TableView *.decrement-button,
TableView *.increment-arrow,
TableView *.decrement-arrow {
    -fx-padding: 0;
    -fx-shape: "";
    -fx-alignment: right;
}

.combo-box {
    -fx-border-radius: 4px;
    -fx-border-color: greysquash;
    -fx-background-color: transparent;
}

.combo-box > .list-cell {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.combo-box .cell:selected,
.combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: white;
    -fx-background-color: blueberries;
}

.combo-box-popup .list-view {
    -fx-border-color: greysquash;
    -fx-border-radius: 4px;
}

.content-container {
    -fx-background-color: gray-light;
    -fx-padding: 25px;
}

.item-header {
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-border-color: black;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-padding: 15px;
}

.item-options {
    -fx-spacing: 10;
    -fx-alignment: center-right;
}
