.jfx-button {
    -fx-padding: 0.55em 1.5em;
    -jfx-button-type: FLAT;
    -fx-border-radius: 5pt;
    -fx-background-radius: 5pt;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.button-save {
    -fx-pref-width: 100px;
    -fx-background-color: primary;
    -fx-text-fill: white;
}

.button-cancel {
    -fx-pref-width: 100px;
    -fx-background-color: WHITE;
    -fx-border-color: primary;
}

.jfx-dialog-layout > .jfx-layout-heading HBox {
    -fx-spacing: 10;
    -fx-alignment: center-left;
}

.jfx-dialog-layout > .jfx-layout-heading,
.jfx-dialog-layout > .jfx-layout-heading .label {
    -fx-text-fill: WHITE;
    -fx-font-weight: BOLD;
    -fx-font-size: 22;
    -fx-background-color: BLUEBERRIES;
}

.jfx-dialog-layout > .jfx-layout-heading .glyph-icon {
    -glyph-name: "PENCIL";
    -icons-color: WHITE;
    -fx-fill: WHITE;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
    -glyph-size: 30px;
}

.jfx-dialog-layout > .jfx-layout-body {
    -fx-alignment: center;
    -fx-pref-width: 700px;
    -fx-padding: 35px;
}

.jfx-dialog-layout > .jfx-layout-body GridPane {
    -fx-vgap: 40;
    -fx-hgap: 40;
}

.jfx-dialog-layout > .jfx-layout-actions {
    -fx-background-color: #e9ebee;
    -fx-padding: 20 30 20 30;
}


/*-->texfield*/

.error-label {
    -fx-text-fill: strawberry;
}

.jfx-text-field {
    -jfx-focus-color: blueberries;
    -fx-pref-width: 700px;
}


.jfx-text-field:error {
    -jfx-focus-color: strawberry;
    -jfx-unfocus-color: strawberry;
}

.jfx-text-field > ValidationPane > .error-label-container {
    -fx-alignment: CENTER-RIGHT;
}

/*combobox*/

.jfx-combo-box {
    -fx-max-width: infinity;
    -jfx-focus-color: BLUEBERRIES;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: WHITE;
    -fx-background-color: blueberries;
}

.combo-box .cell:selected {
    -fx-background-color: transparent;
}

.combo-box-popup .list-view {
    -fx-border-color: greysquash;
    -fx-border-width: 0;
}
