* {
    -fx-text-fill: #5a5c69;
    -fx-font-size: 1.1em;
    blueberries: #00AAFF;
    greysquash: #dddd;
    strawberry: #e74a3b;
    banana: #f6c23e;
    avocado: #4cbd9b;
    water: #2a96a5;
    primary: #4e73df;

}

.jfx-snackbar {
    -fx-background-color: BLUE;
}

.jfx-snackbar-content {
    -fx-background-color: RED;
}

.tooltip {
    -fx-text-fill: WHITE;
}
