* {
    -fx-text-fill: #5a5c69;
    -fx-font-size: 1.1em;
    blueberries: #00AAFF;
    greysquash: #ddd;
    strawberry: #e74a3b;
    banana: #f6c23e;
    avocado: #4cbd9b;
    water: #2a96a5;
    primary: #4e73df;
    gray-light: #e9ebee;
    primary-dark: #2b333d
}

.tooltip {
    -fx-text-fill: WHITE;
}
