* {
    -fx-text-fill: #5a5c69;
    -fx-font-size: 1.30em;
    -fx-font-family: Calibri;
    blueberries: #00AAFF;
    greysquash: #ddd;
    strawberry: #e74a3b;
    banana: #f6c23e;
    avocado: #4cbd9b;
    water: #2a96a5;
    primary: #4e73df;
    gray-light: #e9ebee;
    primary-dark: #2b333d
}

.label {
    -fx-font-size: 12;
}

.primary-button {
    -fx-padding: 0.533333em 1em 0.533333em 1em;
    -fx-background-color: blueberries;
    -jfx-button-type: FLAT;
    -fx-text-fill: WHITE;
    -fx-font-weight: BOLD;
    -fx-border-radius: 2pt;
    -fx-background-radius: 2pt;
}

.primary-button-close {
    -fx-padding: 0.533333em 1em 0.533333em 1em;
    -fx-background-color: strawberry;
    -jfx-button-type: FLAT;
    -fx-text-fill: WHITE;
    -fx-font-weight: BOLD;
    -fx-border-radius: 2pt;
    -fx-background-radius: 2pt;
}
.excel-button {
    -fx-padding: 0.533333em;
    -fx-background-color: avocado;
    -jfx-button-type: FLAT;
    -fx-text-fill: WHITE;
    -fx-font-weight: BOLD;
}

.tooltip {
    -fx-text-fill: WHITE;
}

.tile {
    -fx-background-color: white;
    -fx-border-radius: 2pt;
    -fx-background-radius: 2pt;
}

.transparent {
    -fx-background-color: transparent;
}

.tile-default {
    -fx-padding: 12px;
    -fx-background-color: white;
    -fx-border-radius: 2pt;
    -fx-background-radius: 2pt;
}

.tile-default .title {
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.tile-info {
    -fx-padding: 18px;
    -fx-background-color: white;
    -fx-border-radius: 2pt;
    -fx-background-radius: 2pt;
}

.tile-info Label {
    -fx-padding: 0px 15px 0px 15px;
}

.tile-info .big-title {
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.tile-info .small-title {
    -fx-font-weight: bold;
    -fx-font-size: 13;
    -fx-padding: 0 15px 5px 15px;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: black;
}

.search-field {
    -jfx-focus-color: primary;
    -fx-border-radius: 0px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.search-field .combo-box-popup > .list-view {
    -fx-pref-height: 200;
}

.search-field .combo-box-button-container {
    -fx-background-color: TRANSPARENT;
    -fx-pref-height: 300px;
}

.jfx-combo-box {
    -fx-max-width: infinity;
    -jfx-focus-color: primary;
}

.jfx-combo-box > .input-line {
    -fx-background-color: -jfx-unfocus-color;
    -fx-pref-height: 1px;
    -fx-translate-y: 1px;
}

.jfx-combo-box > .input-focused-line {
    -fx-background-color: blueberries;
    -fx-pref-height: 1px;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: WHITE;
    -fx-background-color: blueberries;
}

.combo-box .cell:selected {
    -fx-background-color: transparent;
}

.combo-box-popup .list-view {
    -fx-border-color: greysquash;
    -fx-border-width: 0;
}

.pagination {
    -fx-page-information-visible: false;
    -fx-font-size: 10;
}

.pagination > .pagination-control > .control-box > .number-button {
    -fx-background-color: TRANSPARENT;
    -fx-border-radius: 2px;
}

.pagination > .pagination-control > .control-box > .number-button:hover {
    -fx-background-color: greysquash;
}

.pagination > .pagination-control > .control-box > .number-button:selected {
    -fx-background-color: blueberries;
    -fx-text-fill: WHITE;
}

.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-color: TRANSPARENT;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: primary-dark;
    -fx-border-radius: 3px 3px 0 0;
    -fx-background-radius: 3px 3px 0 0;
}

.jfx-tab-pane .headers-region .tab .glyph-icon {
    -fx-fill: greysquash;
}

.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: greysquash;
}

.jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: blueberries;
}

.jfx-tab-pane .headers-region .tab .tab-container .tab-label {
    -fx-text-fill: greysquash;
    -fx-font-weight: BOLD;
    -fx-font-size: 16;
    -fx-padding: 12;
}

.jfx-tab-pane .headers-region .tab:selected .tab-label {
    -fx-text-fill: red;
}

.jfx-tab-pane .headers-region .tab:selected .glyph-icon,
.jfx-tab-pane .headers-region .tab:hover .glyph-icon {
    -fx-fill: blueberries;
}

#delete-icon {
    -fx-fill: strawberry;
}

#edit-icon {
    -fx-fill: banana;
}

#view-icon {
    -fx-fill: avocado;
}
