.background {
    -fx-background-color: white;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 0);
}

#delete-icon {
    -fx-fill: strawberry;
}

#edit-icon {
    -fx-fill: banana;
}

.add-button {
    -fx-padding: 0.533333em 1em 0.533333em 1em;
    -fx-background-color: blueberries;
    -jfx-button-type: FLAT;
    -fx-text-fill: WHITE;
    -fx-font-weight: BOLD;
    -fx-border-radius: 15pt;
    -fx-background-radius: 15pt;
}

.add-button:hover {
    -fx-background-color: blueberries;
}

.plus-icon {
    -fx-fill: WHITE;
    -fx-alignment: center;
    -glyph-name: "PLUS";
    -glyph-size: 18px;
}

.jfx-text-field {
    -fx-padding: 0.433333em 1em 0.433333em 1em;
    -fx-border-radius: 15px;
    -fx-border-color: greysquash;
}


.jfx-text-field > .input-line,
.combo-box > .input-line {
    -fx-background-color: transparent;
    -fx-pref-height: 0px;
    -fx-translate-y: 0px;
}

.jfx-text-field > .input-focused-line,
.combo-box > .input-focused-line {
    -fx-background-color: transparent;
    -fx-pref-height: 0px;
}

.pagination {
    -fx-page-information-visible: false;
    -fx-font-size: 10;
}

.pagination > .pagination-control > .control-box > .number-button {
    -fx-background-color: TRANSPARENT;
    -fx-border-radius: 2px;
}

.pagination > .pagination-control > .control-box > .number-button:hover {
    -fx-background-color: greysquash;
}

.pagination > .pagination-control > .control-box > .number-button:selected {
    -fx-background-color: blueberries;
    -fx-text-fill: WHITE;
}

.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-color: TRANSPARENT;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: primary-dark;
    -fx-border-radius: 3px 3px 0 0;
    -fx-background-radius: 3px 3px 0 0;
}

.jfx-tab-pane .headers-region .tab .glyph-icon {
    -fx-fill: greysquash;
}

.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: greysquash;
}

.jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: blueberries;
}

.jfx-tab-pane .headers-region .tab .tab-container .tab-label {
    -fx-text-fill: greysquash;
    -fx-font-weight: BOLD;
    -fx-font-size: 16;
    -fx-padding: 12;
}

.jfx-tab-pane .headers-region .tab:selected .tab-label {
    -fx-text-fill: red;
}

.jfx-tab-pane .headers-region .tab:selected .glyph-icon,
.jfx-tab-pane .headers-region .tab:hover .glyph-icon {
    -fx-fill: blueberries;
}


