
.user-icon {
    -fx-fill: WHITE;
    -fx-alignment: center;
    -glyph-name: "USER_PLUS";
    -glyph-size: 18px;
}

.clear-icon {
    -fx-fill: WHITE;
    -fx-alignment: center;
    -glyph-name: "TIMES";
    -glyph-size: 18px;
}

.pencil-icon {
    -fx-fill: WHITE;
    -fx-alignment: center;
    -glyph-name: "PENCIL_SQUARE_ALT";
    -glyph-size: 18px;
}

.date-picker > .text-field {
    -fx-alignment: center;
}

.search-field {
    -jfx-focus-color: primary;
    -fx-border-radius: 0px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.search-field .combo-box-popup > .list-view {
    -fx-pref-height: 200;
}

.search-field > .input-line {
    -fx-background-color: -jfx-unfocus-color;
    -fx-pref-height: 1px;
    -fx-translate-y: 1px;
}

.search-field .combo-box-button-container {
    -fx-background-color: TRANSPARENT;
    -fx-pref-height: 300px;
}

.amount-container {
    -fx-padding: 5 5 0 5;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: greysquash;
}

.amount-container > .label-amount, .label-total {
    -fx-padding: 3 3 0 3;
    -fx-font-size: 16px;
    -fx-font-weight: bolder;
}

.label-amount {
    -fx-text-fill: banana;
}

.label-total {
    -fx-text-fill: avocado;
}

.text-field-amount {
    -fx-padding: 5px;
    -jfx-focus-color: primary;
    -fx-border-radius: 0px;
    -fx-background-color: transparent;
    -fx-border-color: greysquash;
    -fx-border-width: 1;
}

.text-field-amount > .input-line {
    -fx-background-color: -jfx-unfocus-color;
    -fx-pref-height: 0px;
    -fx-translate-y: 0px;
}

.text-field-amount > .input-focused-line {
    -fx-background-color: -jfx-focus-color;
    -fx-pref-height: 0px;
}

.text-field-amount:focused {
    -fx-border-color: blueberries;
}

.button-amount {
    -fx-padding: 0.533333em 1em 0.533333em 1em;
    -fx-background-color: blueberries;
    -jfx-button-type: FLAT;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 0 0 0 1;
    -fx-border-radius: 0 0 0 1;
}

.non-search-field {
    -jfx-focus-color: primary;
    -fx-border-radius: 0px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.non-search-field > .input-line {
    -fx-background-color: -jfx-unfocus-color;
    -fx-pref-height: 0px;
    -fx-translate-y: 0px;
}

.jfx-snackbar-content {
    -fx-background-color: strawberry;
    -fx-background-radius: 4px;
    -fx-pref-height: 45px;
    -fx-min-height: 40px;
    -fx-padding: 10px;
}

.jfx-snackbar-toast {
    -fx-text-fill: white;
    -fx-padding: 0;
}

.snack-bar-icon {
    -fx-fill: WHITE;
    -glyph-name: "TIMES_CIRCLE";
    -glyph-size: 30px;
}

.snack-bar-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}