
.user-icon {
    -fx-fill: WHITE;
    -fx-alignment: center;
    -glyph-name: "USER_PLUS";
    -glyph-size: 18px;
}

.clear-icon {
    -fx-fill: WHITE;
    -fx-alignment: center;
    -glyph-name: "TIMES";
    -glyph-size: 18px;
}

.pencil-icon {
    -fx-fill: WHITE;
    -fx-alignment: center;
    -glyph-name: "PENCIL_SQUARE_ALT";
    -glyph-size: 18px;
}

.date-picker > .text-field {
    -fx-alignment: center;
}


.search-field {
    -jfx-focus-color: primary;
    -fx-border-radius: 0px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.search-field .combo-box-popup > .list-view {
    -fx-pref-height: 200;
}

.search-field > .input-line {
    -fx-background-color: -jfx-unfocus-color;
    -fx-pref-height: 1px;
    -fx-translate-y: 1px;
}

.search-field .combo-box-button-container {
    -fx-background-color: TRANSPARENT;
    -fx-pref-height: 300px;
}
