* {
    -fx-text-fill: #5a5c69;
    -fx-font-size: 1.1em;
    blueberries: #00AAFF;
    greysquash: #dddd;
    strawberry: #e74a3b;
    banana: #f6c23e;
    avocado: #4cbd9b;
    water: #2a96a5;
    primary: #4e73df;
}

GridPane {
    -fx-alignment: top-center;
    -fx-padding: 15px;
    -fx-vgap: 25px;
    -fx-hgap: 8px;
}

.background {
    -fx-background-image: url('/image/road-tree.jpg');
    -fx-background-size: cover;
}

.logo {
    -fx-background-image: url('/image/mainlogo.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 100px;
}

.glyph-icon {
    -glyph-size: 20px;
}

.jfx-button {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #4e73df;
    -fx-background-radius: 4pt;
    -fx-padding: 0.6em 1.5em;
    -fx-border-radius: 4pt;
}

.split-pane {
    -fx-background-radius: 0 5pt 5pt 0pt;
    -fx-border-radius: 0 5pt 5pt 0pt;
    -fx-background-color: white;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

.split-pane *.split-pane-divider {
    -fx-padding: 0;
}