.background {
    -fx-background-color: rgb(43, 51, 62);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

.glyph-icon {
    -glyph-size: 19px;
    -fx-fill: greysquash;
}

VBox > .jfx-button {
    -fx-text-fill: greysquash;
    -fx-border-width: 0 0 0 5px;
    -fx-border-color: transparent;
    -fx-padding: 20 15 20 45;
    -fx-graphic-text-gap: 30;
    -fx-ellipsis-string: "";
    -fx-alignment: center-left;
}

VBox > .jfx-button:focused {
    -fx-background-color: #252c35;
    -fx-text-fill: WHITE;
    -fx-border-color: blueberries;
}

VBox > .jfx-button:hover {
    -fx-text-fill: WHITE;
}

VBox > .jfx-button:hover .glyph-icon,
VBox > .jfx-button:focused .glyph-icon {
    -fx-fill: blueberries;
}

.nav-title {
    -fx-text-fill: white;
    -fx-padding: 20 15 20 15;
    -fx-font-weight: bold;
    -fx-focus-traversable: false;
    -fx-graphic-text-gap: 20;
}

