
GridPane {
    -fx-alignment: top-center;
    -fx-padding: 15px;
    -fx-hgap: 10px;
    -fx-vgap: 15px;
}

GridPane > .glyph-icon {
    -glyph-size: 20px;
    -fx-text-fill: primary;
}

.report-tile-info {
    -fx-padding: 18px;
    -fx-border-width: 0 0 0 6px;
    -fx-border-color: blueberries;
    -fx-background-color: white;
}
.report-big-title {
    -fx-font-weight: bold;
    -fx-font-size: 11px;
    -fx-text-fill: blueberries
}

.report-small-title {
    -fx-font-size: 18px;
}