.jfx-dialog-layout > .jfx-layout-body {
    -fx-alignment: center;
}

.jfx-dialog-layout > .jfx-layout-actions {
    -fx-alignment: center-right;
    -fx-hgap: 12;
    -fx-padding: 16 20 16 20;
}

.jfx-dialog-layout > .jfx-layout-actions .jfx-button {
    -jfx-button-type: FLAT;
    -fx-border-radius: 5pt;
    -fx-background-radius: 5pt;
    -fx-font-weight: BOLD;
    -fx-font-size: 14;
    -fx-pref-width: 90px;
}

.jfx-dialog-layout > .jfx-layout-heading {
    -fx-alignment: center;
    -fx-font-weight: BOLD;
    -fx-padding: 24 24 20 24;
    -fx-font-size: 25;
    -fx-wrap-text: true;
}

.jfx-dialog-layout > .jfx-layout-body .label {
    -fx-font-size: 15;
    -fx-wrap-text: true;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.jfx-dialog-layout .jfx-layout-heading .text {
    -fx-font-size: 2em;
}