
.jfx-dialog-layout > .jfx-layout-body {
    -fx-alignment: center;
}

.jfx-dialog-layout > .jfx-layout-actions {
    -fx-alignment: center-right;
    -fx-hgap: 12;
    -fx-padding: 16 20 16 20;
}

.jfx-dialog-layout > .jfx-layout-actions .jfx-button {
    -fx-padding: 0.6em 1.5em;
    -jfx-button-type: FLAT;
    -fx-border-radius: 5pt;
    -fx-background-radius: 5pt;
    -fx-font-weight: BOLD;
    -fx-font-size: 13;
}

.jfx-dialog-layout > .jfx-layout-body .label {
    -fx-font-size: 16.0;
    -fx-wrap-text: true;
}
